html, body {
	min-height: 100%;
}

h1 {
	font-size: 32px;
}

h1 a {
	color: white !important;
	text-decoration: none;
}

.colorful {
	background:
		-webkit-linear-gradient(45deg, hsla(210, 98%, 46%, 1) 0%, hsla(210, 98%, 46%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(22, 98%, 45%, 1) 10%, hsla(22, 98%, 45%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(226, 94%, 47%, 1) 10%, hsla(226, 94%, 47%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(177, 98%, 45%, 1) 100%, hsla(177, 98%, 45%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(210, 98%, 46%, 1) 0%, hsla(210, 98%, 46%, 0) 70%),
		linear-gradient(135deg, hsla(22, 98%, 45%, 1) 10%, hsla(22, 98%, 45%, 0) 80%),
		linear-gradient(225deg, hsla(226, 94%, 47%, 1) 10%, hsla(226, 94%, 47%, 0) 80%),
		linear-gradient(315deg, hsla(177, 98%, 45%, 1) 100%, hsla(177, 98%, 45%, 0) 70%);
	}

.container {
	color: white;
	font-family: 'Crimson Text', serif;
	height: 100%;
	text-align: center;
}

button.nav-btn {
	padding: 5px 10px 5px 10px;
	line-height: 42px;
}

img.icon-nav {
	margin-bottom: -5px;
	width: 32px;
	height: 32px;
}

img.icon-nav.round {
	border-radius: 16px;
}

.container .img-thumb {
	width: 256px;
	cursor: pointer;
	border: 1px white solid;
	border-radius: 2px;
	padding: 2px;
}

.container .img-thumb:hover {
		opacity: 0.5;
		filter: alpha(opacity=50);
}

.container .avatar {
	width: 128px;
	height: 128px;
	border-radius: 6px;
	float: right;
	margin-right: 12px;
	border: 1px white solid;
}

.container .avatar:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.container .content {
	border: 2px white solid;
	box-shadow: 2px 2px 2px black;
	padding: 20px;
	font-size: 25px;
	margin-top: 30px;
	max-width: 1000px;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.container a {
	word-wrap: break-word;
	color: black;
}

.container-form {
	border: 2px white solid;
	padding: 10px;
	font-size: 20px;
	margin: 20px;
	width: auto;
	border-radius: 0px;
	display: block;
	max-width: 400px;
	width: 70%;
}

.container-form h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
}

.container-form h3:hover {
	color: #333;
}

.container-form label {
		margin-top: 20px;
}

.container-form input {
	font-size: 17.5px;
}

.container-form textarea {
	font-size: 17.5px;
}

.container-form .div-error {
	color: black;
}

.button {
	font-size: 25px;
	color: white;
	font-family: 'Crimson Text', serif;
	background-color: Transparent;
  	background-repeat:no-repeat;
	border: 2px white solid;
	margin-bottom: 5px;
	border-radius: 15px;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.button:hover {
	background-color: rgba(0,0,0,0.4);
}

.active-btn {
	background-color: rgba(0,0,0,0.4);
	box-shadow: 2px 2px 2px black
}

.action-btn {
	border-radius: 0px;
}

#btn-toggle-strobe {
	border-radius: 28px;
	height: 56px;
	left: 30px;
	position: absolute;
	top: 30px;
	width: 56px;
	background:
		-webkit-linear-gradient(45deg, hsla(210, 98%, 46%, 1) 0%, hsla(210, 98%, 46%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(22, 98%, 45%, 1) 10%, hsla(22, 98%, 45%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(226, 94%, 47%, 1) 10%, hsla(226, 94%, 47%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(177, 98%, 45%, 1) 100%, hsla(177, 98%, 45%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(210, 98%, 46%, 1) 0%, hsla(210, 98%, 46%, 0) 70%),
		linear-gradient(135deg, hsla(22, 98%, 45%, 1) 10%, hsla(22, 98%, 45%, 0) 80%),
		linear-gradient(225deg, hsla(226, 94%, 47%, 1) 10%, hsla(226, 94%, 47%, 0) 80%),
		linear-gradient(315deg, hsla(177, 98%, 45%, 1) 100%, hsla(177, 98%, 45%, 0) 70%);
	}
}

#popbox-image {
	padding: 10px;
	background-color: rgba(0,0,0,0.8);
	max-width: 80%;
}

#popbox-image-img {
	max-height: 500px;
	max-width: 100%;
}
