/* from: https://codepen.io/availchet/pen/rNMRvZB */
:root {
  --dot-color: #ac3c3c;
  --dot-size: 15px;
}

.dot-wrapper {
  cursor: pointer;
  display: none;
  height: 75px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 75px;
}

.dot {
  background: var(--dot-color);
  border-radius: 50%;
  height: var(--dot-size);
  margin-left: 30px;
  margin-top: 30px;
  width: var(--dot-size);
}

.no-lefty-mode .dot-wrapper {
  left: 20px;
  right: auto;
}

.dot:after {
  animation: pulse 2s ease 0s;
  background: var(--dot-color);
  border-radius: 50%;
  content: '';
  display: block;
  height: var(--dot-size);
  width: var(--dot-size);
}

.dot:before {
  animation: pulse2 2s ease 0s;
  background: var(--dot-color);
  border-radius: 50%;
  content: '';
  display: block;
  height: var(--dot-size);
  margin-bottom: calc(var(--dot-size) * -1);
  width: var(--dot-size);
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  80% {
    opacity: 0;
    transform: scale(2.5);
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}

@keyframes pulse2 {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  30% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@media screen and (max-width: 768px) {
  .dot-wrapper {
    display: block;
  }
}