:root {
  --primary-color: white;
  --primary-color-inverted: #262626;
  --secondary-color: rgb(223, 196, 114);
  --secondary-color-inverted: black;
  --font-size-base: 26px;
  --margin-base: 32px;
  --padding-base: 32px;
}